<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Samer Khidri</h2>
            <h4>example@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Employe's Table</a>
    

    <mat-divider></mat-divider>

    <h2 matSubheader>Infos</h2>

    <a mat-list-item routerLinkActive="list-item-active" >
        <mat-icon>import_contacts</mat-icon>
        Societé Foulen
    </a>

    <a mat-list-item routerLinkActive="list-item-active" >
        <mat-icon>contact_phone</mat-icon>
       +216 00 000 000
    </a>

</mat-nav-list>